<div class="page-header">
	<h2>Mostrar Stage</h2>
</div>


<div class="container">
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Stage</h3>
			</div>
			<br>
			<div class="panel-body">
				<p>
					<strong>Current_project_stage</strong>
	    			<%=@stage.current_project_stage%>
				</p>
			</div>
		</div>
	</div>
</div>

<%= link_to 'Editar', edit_stage_path(@stage) %> |
<%= link_to 'Voltar', stages_path %>