/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-datepicker3
 *= require font-awesome
 */
*{
    font-family: Geneva, Tahoma, Verdana, sans-serif;
}

.navbar-nav > li > a {
    font-weight: bold;
}


.logo {
    display: block;
    font-size: 5em;
    margin: 0.25em 0px;
    line-height: 1;
}

.logo.bg-dark span.logoicon-plataforma {
    font-family: 'Pacifico', cursive;
    color: #fff;
}

.logo span {
    font-size: 1em;
}

.logo.bg-dark span.logoicon-inovatech {
    font-family: 'Pacifico', cursive;
    color: #CBCAFF;
}

.navbar-default .navbar-brand {
    font-family: 'Pacifico', cursive;
    font-style: bold;
    font-size: 25px;
    
}

.footer-link {
    color: #ffffff;
}

header {
    display: block;
    height: auto;
    width: auto;
    overflow: visible;
    padding: 30px 0px;
    border-radius: 4px;
    background-color: #17345E;
}

section.blue.light {
    background-color: #CBCAFF;
    margin-bottom: 40px;
}
section.blue {
    background-color: #FFF;
}
.txtaligncenter, .center {
    text-align: center;
}
section {
    padding: 30px 0px 45px;
}

.txtindex{
    color:#fff;
}


.ha-header-rotate {
    height: 220px;
    top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}
 
.ha-header-rotate .ha-header-front {
    transform: translateY(-100%) rotateX(90deg);
}
 
.ha-header-rotate .ha-header-bottom {
    top: 50%;
    transition: transform 0.5s;
    transform: rotateX(0deg) translateY(-100%);
}

.login-index{
    background: rgba(255,255,255,1);
    border-radius: 4px;
}

#myTab{
  background: #cccccc;
  border-radius: 4px 4px 0 0;
}
#myTab .active a {
  background: #ffffff;
  color: #123456;
  border-radius: 4px 4px 0 0;
  box-shadow: 0px -1px 1px #333;
}
#myTab .active a:hover{
  background: #ffffff;
  color: #333333;
   border-radius: 4px 4px 0 0;
}
#myTab a{
  color: #777777;
}
#myTab a:hover{
  color: #555555;
   border-radius: 4px 4px 0 0;
}
#myTabContent{
    padding: 10px;
}