/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-datepicker3
 *= require font-awesome
 */

 body {
 	padding-top: 60px;
 }

.navbar-nav > li > a {
    font-weight: bold;
}


.logo {
    display: block;
    font-size: 4em;
    margin: 0.25em 0px;
    line-height: 1;
}

.logo.bg-dark span.logoicon-plataforma {
    font-family: 'Pacifico', cursive;
    color: #A6F8F0;
}
.logo span.logoicon-plataforma {
    color: #506E84;
}
.logo span {
    font-size: 1em;
}

.logo.bg-dark span.logoicon-inovatech {
    font-family: 'Pacifico', cursive;
    color: #CDFFFA;
}
.logo span.logoicon-inovatech {
    color: #7E8285;
}
.logo span {
    font-size: 1em;
}

.navbar-default .navbar-brand {
    font-family: 'Pacifico', cursive;
    font-style: bold;
    font-size: 25px;
}

.footer-link {
    color: #ffffff;
}

header {
    display: block;
    height: auto;
    width: auto;
    overflow: visible;
    padding: 30px 0px;
    background-color: #02B3A1;
}

section.blue.light {
    background-color: #D8D8D8;
    margin-bottom: 40px;
}
section.blue {
    background-color: #FFF;
}
.txtaligncenter, .center {
    text-align: center;
}
section {
    padding: 30px 0px 45px;
}

.txtindex{
    color:#fff;
}